@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl font-black small-caps leading-loose;
	}
	h2 {
		@apply text-3xl font-bold leading-relaxed small-caps;
	}
	h4 {
		@apply font-bold;
	}
}

@layer components {
	.small-caps {
		font-variant-caps: small-caps;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.tiptap p.is-editor-empty:first-child::before {
	color: rgb(113 113 122);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
