@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-5xl text-cararra-900 leading-tight;
	}
	h2 {
		@apply text-3xl font-bold leading-relaxed small-caps;
	}
	h3 {
		@apply text-xl font-bold leading-none small-caps;
	}
	h4 {
		@apply font-bold;
	}
}

@layer components {
	.small-caps {
		font-variant-caps: small-caps;
	}
}

.sketch-border {
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
